<div id="<%= dom_id user_file %>">
  <% if action_name != "show" %>
    <%= user_file.asset.file.original_filename %>
    <%= link_to "Show this user file", user_file, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user file', edit_user_file_path(user_file), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
