<% if notice %>
  <span class="fixed z-50 border-solid border border-gray-300 p-2 text-center text-emerald-600 rounded-lg left-1/2 -translate-x-1/2 top-8"><%= notice %></span>
<% end %>
<% if alert %>
  <span class="fixed z-50 border-solid border border-gray-300 p-2 text-center text-red-600 rounded-lg left-1/2 -translate-x-1/2 top-8"><%= alert %></span>
<% end %>
